<div class="main">
  <div class="side-bar"></div>
  <div class="main-wrapper">
    <div class="main-container">
      <div class="main-title">- 投稿一覧 -</div>
      <% if user_signed_in? %>
        <%= link_to "New Post", new_post_path, class:"post-btn"%>
      <% end %>
      <div class="post-wrap">
        <% @posts.each do |post| %>
          <div class="post">
            <div class="title">
              <%= link_to "#{post.title}", post_path(post.id), class: "link-to-show" %>
            </div>
            <div class="genre">
              <div class="category">
                <%= post.category.name %>
              </div>

              <ul class="tag">
                <li class="tag-list">
                  <%post.tags.each do |tag| %>
                    #<%=tag.name%>
                  <%end%>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>