/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
 }

html, body{
  overflow: hidden;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

.bread {
  margin: 100px 80px;
  color: #333333;
  position: fixed;
  z-index: 10;
  font-size: 16px;
}

.bread a {
  text-decoration: none;
  color: #333333;
}

.errors {
  text-align: center;
  color: red;
}
/* ================ ここからトップページ ====================*/
.main {
  height: 100vh;
  width: 100%;
  display: flex;
}

.side-bar {
  height: 100%;
  width: 15%;
  background-color: #333333;
}

.main-wrapper {
  height: 100%;
  width: 85%;
  background-color: #fafafa;
}

.sign {
  text-decoration: none;
  color: #ff6600;
}

.main-container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  padding-top: 110px;
}

.main-title {
  font-size: 28px;
  font-family: 'Kosugi Maru', sans-serif;
  width: 100%;
  text-align: center;
}

.post-btn {
  text-decoration: none;
  display: inline-block;
  padding: 4px;
  margin-bottom: 8px;
}

.pen {
  color: #ff6600;
  font-size: 24px;
  padding-bottom: 4px;
  border-bottom: 0.8px solid #c0c0c0;
  transition: all 0.4s;
}

.pen:hover {
  border-bottom: 0.8px solid #c0c0c0;
  font-size: 26px;
}

.note {
  text-decoration: none;
  color: #333333;
  margin-bottom: 10px;
}

.post-wrap {
  margin: 20px auto;
  width: 90%;
  overflow-y: scroll;
}

.show-wrap {
  margin: 10px auto;
  width: 90%;
  overflow-y: scroll;
}

.post-wrap::-webkit-scrollbar {
  display:none;
}

.post {
  width: 100%;
  height: 60px;
  border: 1px solid #c0c0c0;
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 6px 0 0 2px;
}

.link-to-show {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;
}

.link-to-user {
  margin-top: 4px;
  display: inline-block;
  text-decoration: none;
  color: #696969;
  font-size: 14px;
  transition: all 0.4s;
}

.link-to-user:hover {
  color: #6336f5;
}

.created-at {
  font-size: 12px;
  display: inline-block;
  margin-left: 25px;
  color: #696969;
}

.genre {
  margin-top: 2px;
}

.upper-content {
  display: flex;
}

.category {
  cursor: default;
}

.like-count {
  margin-top: 2px;
  font-size: 16px;
  color: #333333;
  text-align: right;
}

.tag {
  margin-left: 8px;
}

.tag-list {
  cursor: default;
  color: #0066ff;
}



/*==================== 新規投稿ページ ==============*/

.post-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.form-wrap {
  text-align: left;
}

.post-form {
  width: 70%;
  margin: 0 15%;
}

.post-input {
  width: 100%;
  padding: 4px;
  resize: none;
  line-height: 1.2;
  outline:0;
}

.title-input {
  width: 100%;
  padding: 4px;
  font-size: 24px;
  outline:0;
}

.select-box {
  height: 30px;
  padding-left: 8px;
  outline:0;
}

.input-tag {
  padding: 0 4px;
  outline:0;
}

.category-tag {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.submit-post {
  margin-top: 40px;
  text-align: center;
}

.submit-btn {
  font-size: 18px;
  transition: all 0.5s;
  border: none;
  background-color: aliceblue;
  box-shadow: 2px 2px #333333;
  font-family: 'Kosugi Maru', sans-serif;
  display: inline-block;
  width: 180px;
  height: 40px;
}

/* =============== 投稿詳細ページ ===================*/

.show-title {
  width: 100%;
  font-size: 24px;
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  justify-content: space-between;
}

.count {
  color: #333333;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.post-user {
  font-size: 18px;
  margin: 8px 16px 0 0;
}

.show-user {
  margin-top: 4px;
  display: inline-block;
  text-decoration: none;
  color: #696969;
  font-size: 18px;
  transition: all 0.4s;
}

.show-user:hover {
  color: #6336f5;
}

.link-to-user {
  text-decoration: none;
  color: #333333;
}

.content {
  width: 100%;
  height: 60vh;
  white-space: pre-line;
  display: block;
  font-size: 18px;
  margin-top: 20px;
  border: 0.5px solid #c0c0c0;
  border-radius: 16px;
  padding: 0 14px;
}

.bottom-contents {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.link_to_top {
  text-decoration: none;
  color: #333333;
  display: block;
}

.link_to_edit {
  text-decoration: none;
  color: #333333;
  display: inline-block;
}

.post-destroy {
  text-decoration: none;
  color: #333333;
  display: inline-block;
}

.likes {
  text-decoration: none;
}

.unlike-btn {
  color: red;
  transition: all 0.3s;
}

.unlike-btn:hover {
  font-size: 20px;
}

.like-btn {
  color: #cccccc;
  transition: all 0.3s;
}

.like-btn:hover {
  font-size: 20px;
}

.to-session {
  text-decoration: none;
  color: #333333;
  display: inline-block;
}

.my-favorite {
  text-decoration: none;
  padding: 0 4px;
  border-bottom: 1px solid #ffddff;
}

.favorite-btn {
  color: red;
  font-size: 20px;
  margin-right: 4px;
}

.favorite {
  color: #333333;
  transition: all 0.4s;
}

.favorite:hover {
  font-size: 16px;
}

/* 検索結果ページ */
.nothing {
  font-size: 18px;
}

.link_to_root {
  text-decoration: none;
  color: #333333;
  display: block;
  margin-top: 10px;
}

/* ======== ページネーション ======== */

.pagination>li>a {
  background: none;
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

/*=================================================レスポンシブデザイン==============================================*/
@media (max-width: 1024px) {
  html, body{
    overflow: scroll;
  }

  header {
    height: 60px;
    border: none;
  }

  .logo {
    height: 75px;
  }

  .post-search-form {
    margin-left: 0px;
    width: 60%;
  }

  .search-input {
    width: 100%;
  }

  .header-right {
    margin-right: 0;
    height: 100%;
    position: absolute;
    right: -5px;
    width: 16%;
  }

  .sign-in {
    margin-right: 0px;
    font-size: 12px;
    height: 0px;
    text-decoration: none;
    color: black;
    line-height: 40px;
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    transition: none;
  }

  .sign-in:hover {
    background: none;
  }

  .sign-up {
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    color: black;
    padding: 0;
    border: none;
    position: absolute;
    top: 35px;
    transition: none;
  }

  .sign-up:hover {
    background: none;
    color: black;
  }

  .hello {
    /*display: none;*/
    margin-right: 0px;
    font-size: 8px;
    height: auto;
    width: 100vw;
    text-decoration: none;
    color: black;
    line-height: normal;
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: right;
    transition: none;
  }

  .hello:hover {
    background: none;
    color: black;
  }

  .sign-out {
    /*display: none;*/
    font-size: 8px;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    color: black;
    padding: 0;
    border: none;
    position: absolute;
    top: 28px;
    left: 45px;
    transition: none;
  }

  .sign-out:hover {
    background: none;
    color: black;
  }


  .bell {
    position: relative;
    top: 0px;
    right: -10px;
    margin-right: 0px;
  }

  .bell-text {
    display: none;
  }

  /*============== ここまでヘッダー ====================*/
  .side-bar {
    padding-left: 10px;
    height: 30px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 15px;
    position: absolute;
    top: 60px;
    border: none;
  }

  .side-title {
    display: none;
  }

  .ranking {
    line-height: 30px;
    margin: 0 20px 0 0;
    height: 30px;
    width: auto;
    text-align: center;
  }

  .link-to-ranking {
    height: 30px;
    display: inline-block;
    color: aliceblue;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    transition: none;
  }

  .link-to-ranking:hover {
    background: none;
    color: aliceblue;
  }

  .time-line {
    line-height: 30px;
    margin: 0 20px 0 0;
    height: 30px;
    width: auto;
    text-align: center;
  }

  .link-to-tl {
    height: 30px;
    display: inline-block;
    color: aliceblue;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    transition: none;
  }

  .link-to-tl:hover {
    background: none;
    color: aliceblue;
  }

  .git-link {
    display: none;
  }

  .side-contents {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .post-squeeze {
    height: auto;
    line-height: normal;
    margin-right: 20px;
  }

  .post-squeeze:hover {
    background: none;
  }

  .search-btn:hover {
    font-size: 14px;
    color: aliceblue;
  }

  .main-wrapper {
    width: 100%;
  }

  /*=================ここまでサイドバー==============*/
  .main-container {
    padding-top: 135px;
  }

  .main-title {
    font-size: 24px;
  }

  .note {
    font-size: 12px;
  }

  .pen {
    font-size: 18px;
  }

  .pen:hover {
    font-size: 18px;
  }

  .created-at {
    display: none;
  }

  .link_to_top {
    color: #ff6600;
  }

  .bread {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 4%;
    height: 3%;
  }
/*============User Page===============*/
  .notification-contents {
    height: auto;
    width: auto;
  }

  .user-notification {
    font-size: 16px;
  }

  .follow-contents {
    width: auto;
  }

  .follow-content {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
  }

  .follow-or-unfollow {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 4px 8px;
    font-size: 16px;
  }

  .favorite-btn {
    color: red;
    font-size: 14px;
    margin-right: 4px;
  }

  .favorite {
    font-size: 14px;
    transition: none;
  }

  .favorite:hover {
    font-size: 14px;
  }

  .category-tag {
    padding: 0;
  }
}

/*=================================================スマートフォン====================================================*/
@media (max-width: 599px) {
  header {
    height: 60px;
    border: none;
  }

  .logo {
    height: 60px;
  }

  .post-search-form {
    margin-left: 0px;
    width: 43%;
  }

  .search-input {
    width: 85%;
  }

  .header-right {
    margin-right: 0;
    height: 100%;
    position: absolute;
    right: -5px;
    width: 16%;
  }

  .sign-in {
    margin-right: 0px;
    font-size: 12px;
    height: 0px;
    text-decoration: none;
    color: black;
    line-height: 40px;
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    transition: none;
  }

  .sign-in:hover {
    background: none;
  }

  .sign-up {
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    color: black;
    padding: 0;
    border: none;
    position: absolute;
    top: 35px;
    transition: none;
  }

  .sign-up:hover {
    background: none;
    color: black;
  }

  .hello {
    margin-right: 0px;
    font-size: 8px;
    height: auto;
    width: 100vw;
    text-decoration: none;
    color: black;
    line-height: normal;
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    top: 96px;
    right: 10px;
    text-align: right;
    transition: none;
  }

  .hello:hover {
    background: none;
    color: black;
  }

  .sign-out {
    /*display: none;*/
    font-size: 8px;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    color: black;
    padding: 0;
    border: none;
    position: absolute;
    top: 15px;
    left: -20px;
    transition: none;
  }

  .sign-out:hover {
    background: none;
    color: black;
  }


  .bell {
    position: absolute;
    top: -13px;
    right: 10px;
    margin-right: 0px;
  }

  .bell-text {
    display: none;
  }
  /* ここまでヘッダー */
  .side-bar {
    padding-left: 10px;
    height: 30px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 15px;
    position: absolute;
    top: 60px;
    border: none;
  }

  .side-title {
    display: none;
  }

  .ranking {
    line-height: 30px;
    margin: 0 20px 0 0;
    height: 30px;
    width: auto;
    text-align: center;
  }

  .link-to-ranking {
    height: 30px;
    display: inline-block;
    color: aliceblue;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    transition: none;
  }

  .link-to-ranking:hover {
    background: none;
    color: aliceblue;
  }

  .time-line {
    line-height: 30px;
    margin: 0 20px 0 0;
    height: 30px;
    width: auto;
    text-align: center;
  }

  .link-to-tl {
    height: 30px;
    display: inline-block;
    color: aliceblue;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    transition: none;
  }

  .link-to-tl:hover {
    background: none;
    color: aliceblue;
  }

  .git-link {
    display: none;
  }

  .side-contents {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .post-squeeze {
    height: auto;
    line-height: normal;
    margin-right: 20px;
  }

  .post-squeeze:hover {
    background: none;
  }

  .search-btn:hover {
    font-size: 14px;
    color: aliceblue;
  }
  
  .main-wrapper {
    width: 100%;
  }

  .main-container {
    width: 88%;
    padding-top: 120px;
  }

  .main-title {
    font-size: 22px;
  }

  .note {
    font-size: 12px;
  }

  .pen {
    font-size: 16px;
  }

  .pen:hover {
    font-size: 16px;
  }

  .count {
    font-size: 10px;
    color: #333333;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .title {
    position: relative;
  }

  .link-to-show {
    font-size: 12px;
  }

  .link-to-user {
    margin-top: 2px;
    font-size: 12px;
    position: absolute;
    bottom: 2px;
  }

  .created-at {
    display: none;
  }

  .genre {
    margin-top: 5px;
    font-size: 10px;
    position: relative;
  }

  .like-count {
    font-size: 13px;
  }

  .like-btn:hover {
    font-size: 15px;
  }

  .unlike-btn:hover {
    font-size: 15px;
  }

  .user-form {
    padding: 200px 0;
  }

  /* 投稿ページ */
  .post-form {
    width: 90%;
    margin: 0 auto;
  }

  .title-input {
    font-size: 18px;
  }

  .category-tag {
    padding: 0px;
    display: block;
  }

  .post-input {
    height: auto;
  }

  .post-field {
    margin-bottom: 8px;
  }

  .select-box {
    font-size: 15px;
    padding: 0px;
  }
  /*投稿詳細ページ*/

  .bread {
    display: none;
  }

  .post-wrap {
    margin: 2px auto;
    width: 100%;
  }

  .show-title {
    font-size: 18px;
    align-items: flex-end;
  }

  .post-user {
    margin: 0px;  
  }

  .show-user {
    font-size: 12px;
  }

  .content {
    height: auto;
    font-size: 12px;
  }

  .bottom-contents {
    font-size: 12px;
  }

  .detail-category {
    text-align: right;
  }

  .link-to-top {
    margin-top: 20px;
    color: #ff6600;
  }

  /*ユーザー詳細ページ*/

  .notification-contents {
    height: auto;
    width: auto;
  }

  .user-notification {
    font-size: 12px;
  }

  .follow-contents {
    width: auto;
  }

  .follow-content {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
  }

  .favorite-btn {
    color: red;
    font-size: 14px;
    margin-right: 4px;
  }

  .favorite {
    font-size: 12px;
    transition: none;
  }

  .favorite:hover {
    font-size: 12px;
  }

  .follow-or-unfollow {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 4px 8px;
    font-size: 12px;
  }

  /*フォロワー一覧*/
  .user-wrap {
    width: auto;
  }

  .users {
    height: auto;
  }

  .user-name {
    font-size: 25px;
  }

  /*通知ページ*/
  .trash{
    font-size: 16px;
  }

  .notification-index {
    font-size: 12px;
  }

  .notification-view {
    padding: 8px 4px;
    height: auto;
    line-height: 100%;
  }

  .nothing-message {
    font-size: 14px;
  }

  .nothing {
    font-size: 14px;
  }

  .time-line-text {
    font-size: 12px;
    margin: 0 auto;
  }

  .rank {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .logo {
    height: 40px;
  }

  .search-input {
    width: 90%;
    height: 20px;
    padding: 0px 5px;
  }

  .search-input::placeholder {
    font-size: 10px;
  }

  .sign-out {
    left: -28px;
  }

  .link-to-user {
    font-size: 10px;
  }

  .to-session {
    font-size: 10px;
  }
}