/* ユーザー登録ページ */

.user-form {
  height: 100vh;
  width: 100%;
  padding: 200px;
  text-align: center;
}

.form-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}

.form-content {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.field {
  margin-top: 10px;
}

.input {
  width: 40%;
  padding: 0 4px;
  outline:0;
}

.actions {
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}